img{
    width: 30%;
    float: left;
    margin: 1.66%;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 6.0em;
    margin-left: 1.66%;
    margin-top: 10px;
    font-weight: 800;
    text-transform: uppercase;
    width: 30%;
    border-bottom: 2px solid gray;
    padding-bottom: 50px;
}